
  <tbody>
    <tr>
      <th scope="row"><%= link_to invoice.id, invoice%></th>
      <td> <%= invoice.amount %></td>
      <td><%= invoice.due_date %></td>
      <td><%= invoice.selling_price %></td>
    </tr>
  </tbody>
   
